@flipcard-audio-item-transition: all .4s ease-in-out;

@flipcard-audio-item-rotate-Y-minus180deg: rotateY(-180deg);
@flipcard-audio-item-rotate-Y-plus180deg: rotateY(180deg);
@flipcard-audio-item-rotate-Y-0deg: rotateY(0deg);

.flipcard-audio-component {

  .flipcard-audio-item {
    height: 320px;
    position: relative;
    float: left;
    .dir-rtl & {
      float: right;
    }
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -ms-perspective: 600px;
    -o-perspective: 600px;
    perspective: 600px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: @component-padding;
    color: @item-text-color;

    &.visited {
      .flipcard-audio-item-front {
        border: 3px solid @item-color-visited;
      }
    }

  }

  .flipcard-audio-item-front {
    border: 3px solid @item-color;
    &:hover {
      border: 3px solid @item-color-hover;
    }
  }

  .flipcard-audio-item-face {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 110;
    width: 99%;
    height: 100%;
    background: @primary-color;
    cursor: pointer;

    -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d;

      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden;

      -webkit-transition: @flipcard-audio-item-transition;
      -moz-transition: @flipcard-audio-item-transition;
      -ms-transition: @flipcard-audio-item-transition;
      -o-transition: @flipcard-audio-item-transition;
      transition: @flipcard-audio-item-transition;

    &.flipcard-audio-item-front {
      -webkit-transform: @flipcard-audio-item-rotate-Y-0deg;
      -moz-transform: @flipcard-audio-item-rotate-Y-0deg;
      -ms-transform: @flipcard-audio-item-rotate-Y-0deg;
      -o-transform: @flipcard-audio-item-rotate-Y-0deg;
      transform: @flipcard-audio-item-rotate-Y-0deg;
    }

    &.flipcard-audio-item-back {
      padding: @item-padding;

      border: 3px solid @primary-color;

      width: 100%;

      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;

      -webkit-transform: @flipcard-audio-item-rotate-Y-minus180deg;
      -moz-transform: @flipcard-audio-item-rotate-Y-minus180deg;
      -ms-transform: @flipcard-audio-item-rotate-Y-minus180deg;
      -o-transform: @flipcard-audio-item-rotate-Y-minus180deg;
      transform: @flipcard-audio-item-rotate-Y-minus180deg;
    }
  }

  .flipcard-audio-item .flipcard-audio-item-frontImage {
    width: 100%;
    height: auto;
  }

  .flipcard-audio-item-tap.flipcard-audio-flip .flipcard-audio-item-front {
    -webkit-transform: @flipcard-audio-item-rotate-Y-plus180deg;
    -moz-transform: @flipcard-audio-item-rotate-Y-plus180deg;
    -ms-transform: @flipcard-audio-item-rotate-Y-plus180deg;
    -o-transform: @flipcard-audio-item-rotate-Y-plus180deg;
    transform: @flipcard-audio-item-rotate-Y-plus180deg;
  }

  .flipcard-audio-item-tap.flipcard-audio-flip .flipcard-audio-item-back {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transform: @flipcard-audio-item-rotate-Y-0deg;
    -moz-transform: @flipcard-audio-item-rotate-Y-0deg;
    -ms-transform: @flipcard-audio-item-rotate-Y-0deg;
    -o-transform: @flipcard-audio-item-rotate-Y-0deg;
    transform: @flipcard-audio-item-rotate-Y-0deg;
  }

  .flipcard-audio-item-back-title {
    font-weight: @font-weight-bold;
    padding-bottom: @component-padding;
  }

  @media all and (max-width: @device-width-medium) {
    .flipcard-audio-item {
      width: 100%;
      margin-left: 0%;
      margin-right: 0%;
    }
  }

}
