@flipcard-audio-item-transition: all .4s ease-in-out;

@flipcard-audio-item-rotate-Y-minus180deg: rotateY(-180deg);
@flipcard-audio-item-rotate-Y-plus180deg: rotateY(180deg);
@flipcard-audio-item-rotate-Y-0deg: rotateY(0deg);

.vendor-prefix (@property, @value) {
  -webkit-@{property}: @value;
  -moz-@{property}: @value;
  -ms-@{property}: @value;
  -o-@{property}: @value;
  @{property}: @value;
}

.flipcard-audio-component {

  .flipcard-audio-widget {
		position: relative;
		text-align: center;
	}

  .flipcard-audio-item {
    position: relative;
    display: inline-block;
    vertical-align: top;

    margin-left: 1%;
    margin-right: 1%;
    margin-top: @component-padding;
    color: @primary-color-inverted;

    &.visited {
      .flipcard-audio-item-front {
        border: 3px solid @item-color-visited;
      }
    }
  }

  .flipcard-audio-item-front {
    border: 3px solid @item-color;
    &:hover {
      border: 3px solid @item-color-hover;
    }
    img {
      vertical-align: top;
    }
    &.animated {
      .vendor-prefix (transform, @flipcard-audio-item-rotate-Y-0deg);
    }
  }

  .flipcard-audio-item-back {
    padding: @item-padding;
    border: 3px solid @primary-color;
    width: 100%;

    .vendor-prefix (box-sizing, border-box);

    &.animated {
      .vendor-prefix (transform, @flipcard-audio-item-rotate-Y-minus180deg);
    }
  }

  .flipcard-audio-item-face {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 110;
    width: 99%;
    height: auto;
    min-height: 100%;
    background: @primary-color;
    cursor: pointer;

    text-align: left;
    .dir-rtl & {
      text-align: right;
    }

    &.animated {
      .vendor-prefix (transition, @flipcard-audio-item-transition);
      .vendor-prefix (transform-style, preserve-3d);
    }
    .vendor-prefix (backface-visibility, hidden);
  }

  .flipcard-audio-item .flipcard-audio-item-frontImage {
    width: 100%;
    height: auto;
  }

  .flipcard-audio-flip .flipcard-audio-item-front {
    .vendor-prefix (transform, @flipcard-audio-item-rotate-Y-plus180deg);
  }

  .flipcard-audio-flip .flipcard-audio-item-back {
    overflow-x: hidden;
    overflow-y: auto;
    .vendor-prefix (transform, @flipcard-audio-item-rotate-Y-0deg);
  }

  .flipcard-audio-item-back-title {
    font-weight: @font-weight-bold;
    padding-bottom: @component-padding;
  }

  @media all and (max-width: @device-width-medium) {
    .flipcard-audio-item {
      width: 100%;
      margin-left: 0%;
      margin-right: 0%;
    }
  }

}
