<div class="flipcard-audio-inner component-inner">
    {{> component this}}
    <div class="flipcard-audio-widget component-widget clearfix">
        {{#each _items}}
        <div class="flipcard-audio-item">
            <div class="flipcard-audio-item-face flipcard-audio-item-front">
                <img src="{{frontImage.src}}" class="flipcard-audio-item-frontImage" aria-label="{{frontImage.alt}}">
            </div>
            <div class="flipcard-audio-item-face flipcard-audio-item-back">
                {{#if backTitle}}
                <div class="flipcard-audio-item-back-title not-accessible">
                {{{compile backTitle}}}
                </div>
                {{/if}}
                {{#if backBody}}
                <div class="flipcard-audio-item-back-body not-accessible">
                {{{compile backBody}}}
                </div>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
</div>
